.App {
  background-image: url('../src/img/background.webp');
  background-size: cover;
  min-height: 100vh;
}

/* Nav menu */
.underline {
  display: inline-block;
  position: relative;
  text-decoration: none;
  }
.underline:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .4s;
  }
.underline:hover:after {
  width: 100%;
  background: #D1CBCB;
  }

.nav-back-color{
  background-color: rgba(0, 0, 0, 0.37);
}

.cart-color{
  color: #D1CBCB;
}

.text-color-standard{
  color: #D1CBCB !important;
}
  /* End of Nav menu */

  /* Cards */
  .personalized-width{
    width: 60%!important;
  }

    /* Products Detail */
    .detail-img-container{
      background-color: #CF6931;
      
    }
  .detail-img{
      width: 45%;
    }
    
    
  .detail-text-container{
      background-color: #E8E7DE;
      margin-top: 5rem;
    }
    
  .detail-btn{
      background-color: #CF6931 !important;
      border-color: #D5CCCB !important;
    }
  .detail-btn:hover{
    background-color: #D25612 !important;
  }
    
    @media screen and (max-width: 990px){
      .detail-text-container{
          margin: 1rem 5rem 0 5rem;
      }
    }
    
    /* End of Products Detail */