.App {
  background-image: url('../src/img/background.webp');
  background-size: cover;
  min-height: 100vh;
}

/* Nav menu */
.underline {
  display: inline-block;
  position: relative;
  text-decoration: none;
  }
.underline:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .4s;
  }
.underline:hover:after {
  width: 100%;
  background: #D1CBCB;
  }

.nav-back-color{
  background-color: rgba(0, 0, 0, 0.37);
}

.cart-color{
  color: #D1CBCB;
}

.text-color-standard{
  color: #D1CBCB !important;
}
  /* End of Nav menu */

  /* Cards */
  .personalized-width{
    width: 60%!important;
  }

    /* Products Detail */
    .detail-img-container{
      background-color: #CF6931;
      width: 32rem;
      height: 28rem;
    }
  .detail-img{
      width: 45%;
    }
    
    
  .detail-text-container{
      background-color: #E8E7DE;
      margin-top: 5rem;
    }
    
  .detail-btn{
      background-color: #CF6931 !important;
      border-color: #D5CCCB !important;
      width: 10rem;
    }
  .detail-btn:hover{
    background-color: #D25612 !important;
  }
    
    @media screen and (max-width: 990px){
      .detail-text-container{
          margin: 1rem 5rem 0 5rem;
      }
    }
    
    /* End of Products Detail */
    

  /* Cart view  */
  .cart-img{
    width: 7rem;
    height: 13rem;
  }
  .personal-bg-cart{
    background-color: #CF6931;
  }

  .cart-btn-trash{
    width: 5rem;
  }

  .btn-empty-cart{
    background-color: #A31616 !important;
  }

  .btn-buy-cart {
    background-color: #0A721B !important;
  }


  /* End of cart view  */


  /* Checkout form */
  .standard-form{
    width: 50% !important;
  }

  /* End of Checkout form */

  /* Checkout order window */
  @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&family=Varela+Round&display=swap');


  .checkout-order{
      border-radius: 15px;
      background-color: rgba(128, 128, 128, 0.336);
      font-family: "Tajawal", Arial;
      width: 40rem;

  }
  
  .checkout-order-img{
      position: relative;
      top: 30px;
      right: 30px;
      width: 100%;
  }

  @media screen and (max-width: 770px) {
    .checkout-order-img{
        position: unset;
        width: 35%;
    }
}
  
  
  /* End Checkout order window */

  /* Login  */

  .login-form-input{
    width: 18rem!important;
  }

   /* End of Login  */