.App {
  background-image: url('../src/img/background.webp');
  background-size: cover;
  min-height: 100vh;
}

/* Nav menu */
.underline {
  display: inline-block;
  position: relative;
  text-decoration: none;
  }
.underline:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .4s;
  }
.underline:hover:after {
  width: 100%;
  background: #D1CBCB;
  }

.nav-back-color{
  background-color: rgba(0, 0, 0, 0.37);
}

.cart-color{
  color: #D1CBCB;
}

.text-color-standard{
  color: #D1CBCB !important;
}
  /* End of Nav menu */

  /* Cards */
  .personalized-width{
    width: 60%!important;
  }